body {
  background-color: #aae3e2;
}
.text-dm {
  font-family: "DM Sans", sans-serif;
}
.text-rubik {
  font-family: "Rubik", sans-serif;
}
.text-niconne {
  font-family: "Niconne", serif;
}

h1.rose {
  font-size: 15rem;
  color: #fcedd8;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b,
    35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b, 45px 45px 0px #c11a2b;
}
p,
.fs-7 {
  font-size: 14px;
}
.btn-shrink:active {
  transform: scale(0.95);
  transition: transform 100ms ease-in-out;
}
.btn-shrink {
  transition: transform 100ms ease-in-out;
}
.btn-white {
  background-color: #ececf1;
  border-radius: 7px;
  box-shadow: none !important;
}
.btn-white:hover {
  background-color: #e3e3e6;
}
.rounded {
  border-radius: 8px !important;
}
